.page {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
}

.result {
    padding: 0;
}

.result-dice {
    display: flex;
}

.result-dice .die {
    border-radius: 5px;
    line-height: 30px;
    width: 30px;
    border: 3px solid #AAA;
    margin: 0 .5rem .5rem 0;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url(./img/sprite.svg#sprite-id);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.result-dice .number-die {
    background-color: #FBFBFB;
}

.result-dice .colour-die {
    background-color: #333333;
}

.result-dice .special-die {
    background-color: #c2b280;
}